.subtitle{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
button{
    text-align:center;
}
.body{
    background-color: rgb(25, 185, 60);
}
header{
    background-color:white;
    border-radius: 5px;
    margin:0% 20%;
}