.Details{
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 6px 6px 0px black;
}

h1{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}

strong{
    font-weight: bold;
}